Status:
[![NPM version](https://img.shields.io/npm/v/{{npmModule}}.svg)](https://www.npmjs.com/package/{{npmModule}})
[![Build Status](https://travis-ci.org/{{npmModule.replace('@', '')}}.svg?branch=master)](https://travis-ci.org/{{npmModule.replace('@', '')}})
[![Coverage Status](https://coveralls.io/repos/github/{{npmModule.replace('@', '')}}/badge.svg?branch=master)](https://coveralls.io/github/{{npmModule.replace('@', '')}}?branch=master)
[![Maintainability](https://api.codeclimate.com/v1/badges/{{codeClimateId}}/maintainability)](https://codeclimate.com/github/{{npmModule.replace('@', '')}}/maintainability)
[![Dependencies](https://david-dm.org/{{npmModule.replace('@', '')}}.png)](https://david-dm.org/{{npmModule.replace('@', '')}})
[![SAST](https://gitlab.com/{{npmModule.replace('@', '')}}/badges/master/pipeline.svg)](https://gitlab.com/{{npmModule.replace('@', '')}})
