---
name: Bug Report
about: Report a bug
title: ''
labels: bug
assignees: ''
---

# READ THIS FIRST!

#### Is this a security issue?

{% include "../../SECURITY.md.j2" %}
<!-- Provide a brief summary of the issue in the title field above. -->

<!-- Provide a detailed description of your use case, including as much -->
<!-- detail as possible about what you are trying to accomplish and why. -->

### Expected behavior
<!-- Provide a detailed description of how you expected the software to -->
<!-- behave. -->

### Actual behavior
<!-- Provide a detailed description of how the software actually behaved, -->
<!-- including any rationale for why that behavior is incorrect. -->

### Steps to reproduce
<!-- Provide an unambiguous series of steps that can be used to reproduce -->
<!-- this issue, including any code if applicable. -->

```js
// Format code using Markdown code blocks
```

### Environment

* Operating System: 
* Node version: <!-- $ node -v -->
* passport version: <!-- $ npm list @passport-next/passport -->
