---
name: Feature Request
about: Report a new feature
title: ''
labels: enhancement
assignees: ''
---

# READ THIS FIRST!

#### Is this a security issue?

{% include "../../SECURITY.md.j2" %}
<!-- Provide a brief summary of the feature in the title field above. -->

<!-- Provide a detailed description of your use case, including as much -->
<!-- detail as possible about what you are trying to accomplish and why. -->

### Environment

* Operating System: 
* Node version: <!-- $ node -v -->
* passport version: <!-- $ npm list @passport-next/passport -->
