# {{projectName}} 

{% include  "./includes/status.j2" %}
## About

{% include "./includes/about.j2" %}
## Install

```
$ npm install {{npmModule}}
```

## Docs

[Please see the wiki]({{github}}/wiki)

{% include "./.github/SUPPORT.md.j2" %}
{% include "./includes/support.j2" %}
## Contributing

Please see [CONTRIBUTING.md]({{github}}/blob/master/CONTRIBUTING.md)

