# {{projectName}} 

{% include  "./includes/status.j2" %}
## About

{% include "./includes/about.j2" %}
## Install

```
$ npm install {{npmModule}}
```

## Docs

[Please see the wiki]({{github}}/wiki)

## Need help?

Please raise an [issue]({{github}}/issues) and/or ask a question on [Stackoverflow](https://stackoverflow.com) with the `passport.js` tag.

## Support policy

We support all [node versions](https://github.com/nodejs/Release) supported by the Node Foundation
{% include "./includes/support.j2" %}

## Contributing

Please see [CONTRIBUTING.md]({{github}}/blob/master/CONTRIBUTING.md)

